<p>dir works!</p>

<input type = "number" [(ngModel)] ="num"/>

<h3>ng.. If</h3>
<div *ngIf = "num != undefined && num%2 == 0">Even Number</div>
<div *ngIf = "num != undefined && num%2 > 0">Odd Number</div>

<h3>ng.. ifelseIf</h3>

<div *ngIf = "num!=undefined && num%2==0 then tempIf else tempElseIf"></div>
<ng-template #tempIf> Even</ng-template>
<ng-template #tempElseIf> Odd</ng-template>


<h3> ng ..for </h3>
<ul>
    <li *ngFor="let item of colors">
            {{item}}
            <body >
                <h1>
                    Hello from Gaurav
                </h1>
            </body>
    </li>

</ul>

<input type ="text" [(ngModel)] = "alphabet" />

<h3>Vowel check</h3>
    <h3> ng switch</h3>
<div [ngSwitch]="alphabet">
    <div *ngSwitchCase="'a'">Vowel</div>
    <div *ngSwitchCase="'e'">Vowel</div>
    <div *ngSwitchCase="'i'">Vowel</div>
    <div *ngSwitchCase="'o'">Vowel</div>
    <div *ngSwitchCase="'u'">Vowel</div>
    <div *ngSwitchDefault>Not A Vowel</div>
</div>

<div #container> 
<button (click)="createElement()">Create Element</button> 
<button (click)="removeElement()">Remove Element</button>
</div>
